.text-content {
    background-color: #eee;
    padding-inline: 20px;
    padding-block:40px
}
.service {
    /* border: solid 1px #eee; */
    border-radius: 10px;
    overflow: hidden;
    padding-inline: 0;

    

}
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:20px
}
@media (max-width: 40em) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr ;

    }
}
.image-container {
    overflow: hidden;
}

.service-image {
    transition: all .4s;
}
.service-image:hover {
    transform: scale(1.2);
}